/* style.css */

html, body {
    height: 100%;
  }

  .flex-container {
    margin: 100px;
    padding:15px;
    font-size: 20px;
  }

  div {
    font-family: Comic Sans MS;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #09182E;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 183, 207);

    /* Center sketch horizontally. */
    justify-content: top;
    /* Center sketch vertically. */
    align-items: center;

    font-family: sansation;
    padding: 10;
    margin: 10;
  }

  canvas {
    border-radius: 12px;
  }